<table mat-table [dataSource]="estudiantes" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="carnet">
      <th mat-header-cell *matHeaderCellDef> Carnet </th>
      <td mat-cell *matCellDef="let est"> {{est.carnet}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
      <td mat-cell *matCellDef="let est"> {{est.nombre_completo}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef> Celular </th>
      <td mat-cell *matCellDef="let est"> {{est.celular}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
      <td mat-cell *matCellDef="let est"> {{est.fecha_nacimiento | date}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  