<table mat-table [dataSource]="estudiantes" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="carnet">
      <th mat-header-cell *matHeaderCellDef> Carnet </th>
      <td mat-cell *matCellDef="let est"> {{est.carnet}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
      <td mat-cell *matCellDef="let est"> {{est.nombre_completo}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef> Celular </th>
      <td mat-cell *matCellDef="let est"> {{est.celular}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
      <td mat-cell *matCellDef="let est"> {{est.fecha_nacimiento | date}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let est">  <button mat-icon-button><mat-icon>edit</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let est" > <button (click)="openDialog(est)" mat-icon-button><mat-icon>delete</mat-icon></button></td>
    </ng-container>
    
    <ng-container matColumnDef="notas">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let est"> <button mat-raised-button>Ver notas</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  