.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.nuevo{
    background-color: blue;
}

.materia-card{
    flex-basis: 30%;
    margin: 10px 15px;
    //idth: 30%;
}
mat-card-actions button{
    margin-right: 10px;
}
mat-card-content{
    margin-top: 10px;
}

.card-img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 100%;
}