<body>
    <div class="notas">
        <h1>{{ nombreCOMPLETO }} </h1>
        <table>
            <thead>
            <tr>
                <th>Carnet Estudiante</th>
                <th>Nombre</th>
                <th>fechainscripcion</th>
                <!--<th>Gestión</th>-->
            </tr>
                
            </thead>
            <tbody>
                <tr *ngFor="let item of inscritos">
                    <!--<td>{{item.carnet_estudiante}}</td>-->
                    <td>{{item.estudiante.nombre_completo}}</td>
                    <td>{{item.estudiante.celular}}</td>
                    <td>{{item.fecha_inscripcion}}</td>
                    <!--<td>{{item.gestion}}</td>-->
                </tr>
            </tbody>
        </table>
    </div>
    </body>
    