<body>
    <div class="notas">
        <h1>REGISTRO DE EVALUACIÓN CONTINUA </h1>
        <table>
            <thead>
            <tr>
                <th>Estudiante</th>
                <!--<th>Sigla Materia</th>-->
                <th>Evaluación</th>
                <th>Nota</th>
                <!--<th>Fecha</th>-->
                <th>Gestión</th>
            </tr>
                
            </thead>
            <tbody>
                <tr *ngFor="let item of notas">
                    <td>{{item.estudiante.nombre_completo}}</td>
                    <!--<td>{{item.materia.}}</td>-->
                    <td>{{item.evaluacion}}</td>
                    <td>{{item.calificacion}}</td>
                    <!--<td>{{item.fecha}}</td>-->
                    <td>{{item.gestion}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    </body>
    